# Prerequisites
*.d

# Compiled Object files
*.s
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Libraries
*.lo

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Linker output
*.ilk
*.map
*.exp

# Executables
*.exe
*.out
*.app
main
*.i*86
*.x86_64
*.hex

#backup file
*~

# Shared objects (inc. Windows DLLs)
*.so.*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
